.blocos {
  display: block;
  font-size: 40px;
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-color: #e84393;
  color: #dfe6e9;
  text-align: center;
}

.blocos_vertical {
  display: inline-block;
}

.blocos:nth-child(odd) {
  background-color: #6c5ce7;
}