.btn {
  display: block;
  background: #1e5799;
  /*background: radial-gradient(ellipse at center, #1e5799 0%,#2989d8 50%,#207cca 51%,#1e5799 68%,#7db9e8 100%); */

  color: #FFF; /* c#0984e3 */
  border: 3px solid #0984e3; /* bd */
  
  width: 400px; /* w400+h80 */
  height: 80px;
  font-size: 40px;
  cursor: pointer;
}

.no-js {
  display: none !important;
}